<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="stylesheet" href="/styles/bootstrap.min.css" />
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital@1&display=swap" rel="stylesheet"> 
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <link rel="shortcut icon" href="https://cdn.dribbble.com/users/492035/screenshots/8986102/media/7de7ac27629bc67982468b4bd277817e.png" type="image/x-icon">

    <title>Movie Scrapper </title>
  </head>
  <body class="body text-center">
    <div class="p-3 mx-auto flex-column">


<div id="home">

              <h1>Search For Movie</h1>
              <p><small class="text-danger">Movie scrapper for <a target="/blank" href="https://www.themoviedb.org/movie">themoviedb.org</a> movies only</small></p>
              <form action="/results" method="GET" class="justify-content-center d-flex">
                <input type="text" name="search" class="form-control w-50" placeholder="Enter movie Url from www.themoviedb.org">
                <button type="submit" class="ml-3 btn btn-success pl-4 text-center">Search</button>
            </form>




         
      
          </div>
      
</div>

    </div>

  
  </body>
</html>
